/* Header */
body {
    font-size: 16px;
    color: #000;
    background-color: cornflowerblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header-nav {
    background-color: rosybrown;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: black;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    background-color:palevioletred;
    border: 2px solid black;
    margin-top: 10px;
}
#nav-list a{
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}
.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -30px;
}

/* End of Header */

/* Home Page */
.menu-item-description {
    background-color: ivory;
    margin-bottom: 10px;
}

.menu-item-description .menu-item-title {
    margin-bottom: 25px;
    text-align: center;
}

@media(max-width: 767px) {
    .menu-item-description {
        margin-left: 15px;
        margin-right: 15px;
    }
}
